*
{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body
{
	font-family: "open-sans", sans-serif;
	color: #555;
}


h1
{
	color: rgb(218, 0, 130);
	font-style: italic;
	font-weight: 600;
	font-size: 40px;
}

h1, h2
{
	font-family: "ff-tisa-sans-web-pro";
	font-weight: normal;
}


ul
{
	list-style: none;
}

a
{
	cursor: pointer;
	font-family: "ff-tisa-sans-web-pro";
	-webkit-transition: all .2s cubic-bezier(0, 0, 0.25, 1);
}

a:visited
{
	color: inherit;
}

a:hover, a:link:hover
{
	color: rgb(218, 0, 130);
}

a:link
{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted;
}

body
{
	font-size: 14px;
	line-height: 1.5em;
	font-family: "museo-slab", sans-serif;
}

.clear-fix
{
	clear: both;
}

/**********************
/*  SHARED
/**********************/
.separator
{
	height: 0px;
	border-bottom: 1px dotted #AAA;
	margin: 20px 0px;

}

.center-container
{
	text-align: center;
}

.large-resolution
{
	display: block;
}

.smaller-resolutions
{
	display: none;
}


/**********************
/*  HEADER
/**********************/
header
{
	width: 100%;
	height: 60px;
	background-color: #B2E5CF;
	box-shadow: 0px 0px 10px #888888;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
}

.logo
{
	background-image: url("../assets/bee.png");
	width: 27px;
	height: 26px;
	float: left;
	margin-left: 20px;
	margin-top: 16px;
	opacity: .8;
}

nav
{
	width: 700px;
	margin: auto;
}

nav li
{
	float: left;
	width: 33.3%;
	text-align: center;
	line-height: 60px;
}

nav li a
{
	display: block;
	text-transform: uppercase;
	color: rgb(100, 100, 100);
	font-size: 16px;
	font-family: "source-sans-pro";
	font-weight: bold;
	letter-spacing: .07em;
}

nav li a.selected
{
	color: rgb(218, 0, 130);
	text-shadow: 0px 1px 0px #FFF;
}



/**********************
/*  ME
/**********************/
#me
{
	width: 539px;
	margin: 140px auto 0px auto;
}


#meImage
{
	background-image: url("../assets/me_2x.png");
	background-size: 218px 218px;
	width: 218px;
	height: 218px;
	margin: 40px auto;
}

#me li
{
	padding-bottom: 20px;
	float: right;
	margin-left: 40px;
}

#me li a
{
	text-transform: uppercase;
}


#me p
{
	font-size: 16px;
	line-height: 1.5em;
}

/**********************
/*  PROJECT
/**********************/
#projectContents
{
	max-width: 960px;
	width: 80%;
	margin: 140px auto 0px auto;
}

.info
{
	width: 40%;
	float: left;
	/*margin-top: 20px;*/
}

.info h1, #projectIntro h1
{
	color: #333;
	font-weight: normal;
	font-style: normal;
	font-size: 23px;	
}

.info section
{
	margin-bottom: 20px;
}

.info section h1, #projectImages figurecaption
{
	font-family: "source-sans-pro";	
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 2.4em;
	color: #BBB;
}

.info li
{
	font-size: 15px;
	line-height: 1.6em;
}

.info > *
{
	margin-right: 60px;
}


#projectImages
{
	width: 60%;
	float: right;
}

#projectImages figure
{
	margin-bottom: 50px;
}

.project-image
{
	width: 100%;
/*	width: 560px;
	height: 375px;*/
	background-color: #CCC;
	box-shadow: 0px 1px 15px #DDD;
	outline: #E1E1E1 solid 1px;
}

#projectIntro
{
	position: fixed;
	text-align: center;
	top: 0px;
	padding-top: 90px;
	padding-bottom: 10px;
	width: 100%;
	background-image: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0px, rgba(255,255,255,1) 15px);
}

.project-nav-button
{
	width: 50px;
	height: 50px;
	background-color: #CCC;
	position: fixed;
	top: 50%;
	cursor: pointer;

	color: #FFF;
	font-size: 40px;
	line-height: 42px;
	text-align: center;
}


#prevButton
{
	float: left;
	left: 10px;
}

#nextButton
{
	float: right;
	right: 10px;
}

@media screen and (max-width: 1000px) { 

	.large-resolution
	{
		display: none;
	}

	.smaller-resolutions
	{
		display: block;
	}

	#basicProjectInfo
	{
		padding-top: 20px;
	}

	.info
	{
		width: 100%;
		float: none;
	}

	#projectIntro h1
	{
		width: 80%;
		margin: 0px 10%;
	}

	#projectIntro .separator
	{
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}

	#projectImages
	{
		padding-top: 20px;
		width: 100%;
		float: none;
	}

	.title-area
	{
		width: 80%;
		margin: 0px 10%;
	}
}


@media screen and (max-width: 730px) { 

	#projectContents
	{
		width: 90%;
	}

	#basicProjectInfo
	{
		padding-top: 0px;
	}

	.info > *
	{
		margin-right: 0px;
	}

	#projectIntro h1
	{
		width: 90%;
		margin: 0px 5%;
	}

	#projectIntro .separator
	{
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 15px;
	}

	.project-nav-button
	{
		width: 30px;
		height: 30px;
		top: 82px;
		margin-top: 5px;
		line-height: 27px;
		font-size: 20px;
		margin-top: 0px;
	}

	#prevButton
	{
		left: 5%;
	}

	#nextButton
	{
		right: 5%;
	}
}



/**********************
/*  PROJECT SUBNAV
/**********************/
#subNav
{
	max-width: 960px;
	width: 80%;
	margin: 50px auto;
}

#subNav .separator
{
	margin-bottom: 40px;
}

#subNav li
{
	float: left;
	width: 160px;
	margin-right: 20px;
}

#subNav li a img
{
	width: 160px;
	height: 160px;
	outline: #E1E1E1 solid 1px; 
	opacity: .8;
	-webkit-transition: opacity .2s cubic-bezier(0, 0, 0.25, 1);
}

#subNav li a:hover img
{
	opacity: 1;
	box-shadow: 0px 1px 10px #BBB;
}

#subNav li p
{
	width: 160px;
	font-family: "source-sans-pro";	
	margin-top: 5px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/**********************
/*  IPAD LANDSCAPE
/**********************/
@media screen and (max-width: 1024px) { 
}