<!doctype html>
<html>
	<head>
		<title>mingle.bee</title>

		<meta name = "viewport" content = "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
		<!-- Styles -->
		<link type="text/css" href="css/styles.css" rel="Stylesheet"/>

		<!-- Typekit -->
		<script type="text/javascript" src="//use.typekit.net/lfc5hvq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	</head>

	<body>
		<div class="title-area smaller-resolution">
			<h1 class="title">MotoGP</h1>
			<div class="separator"></div>
		</div>
		<div class="nav-button" id="prevButton"></div>
		<div class="nav-button" id="nextButton"></div>
		<div id="wrapper">
			
			<div class="smaller-resolution">
				<p>
				I love all things MotoGP, the premier motorcycle road-road racing championship. I love data visualization. So the logical conclusion was for me to create a visualization of MotoGP racing statistics. The project explores different means of viewing a large set of data in the hopes of providing new and novel ways to understand the championship, individual races and interrelationships between riders, teams, manufacturers, and tires.
				</p>
			</div>

			<div id="images">
				<img src="assets/motogp_1.png"/>
				<img src="assets/motogp_1.png"/>
				<img src="assets/motogp_1.png"/>
			</div>
			<div id="info">
				<div class="larger-resolution">
					<h1 class="title">MotoGP</h1>
					<div class="separator"></div>
					<p>
					I love all things MotoGP, the premier motorcycle road-road racing championship. I love data visualization. So the logical conclusion was for me to create a visualization of MotoGP racing statistics. The project explores different means of viewing a large set of data in the hopes of providing new and novel ways to understand the championship, individual races and interrelationships between riders, teams, manufacturers, and tires.
					</p>
				</div>
				<p>
				FEATURES<br/>
				The initial screen displays a comprehensive season view of the championship. Users can then drill down into each race to explore visualizations of lap graphs, gap differences by lap, lap times, and average speeds. These details can also be cross referenced by tire, manufacturer and lap time data.
				</p>
				<p>
				LINKS<br/>
				MotoGP Stats on Information Aesthetics<br/>
				Review on Moto Matters
				</p>
				<p>
				ROLES<br/>
				Interaction Designer<br/>
				Visual Designer<br/>
				Developer<br/>
				</p>
				<p>
				TECHNOLOGIES<br/>
				Flash, AS3<br/>
				Subversion<br/>
				</p>
			</div>

			<div class="clear-fix"></div>

		</div>
	</body>
</html>
